
data/publicsphere/0. Merge_comments&metainfo.ipynb
data/publicsphere/Data_FixedCodingMistakes_noICR_ReadyForAnalysis.csv
data/publicsphere/full_data.csv
data/publicsphere/topic_youtube_comments_and_posts_ALL_strat_sample_orderbyMB_ReadyForCoding.xlsx
data/publicsphere/Twitter_full-text-merged-with-comments_n300pergenre.xlsx
data/publicsphere/youtube_general_subsample2_n850.xlsx
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify.parquet
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_2.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_2.parquet
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_s.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_s.parquet
report/2024-05--Simulation/publicsphere.prompt_classify.json
report/2024-05--Simulation/publicsphere.prompt_classify.parquet
