
data/publicsphere/0. Merge_comments&metainfo.ipynb
data/publicsphere/Data_FixedCodingMistakes_noICR_ReadyForAnalysis.csv
data/publicsphere/full_data.csv
data/publicsphere/topic_youtube_comments_and_posts_ALL_strat_sample_orderbyMB_ReadyForCoding.xlsx
data/publicsphere/Twitter_full-text-merged-with-comments_n300pergenre.xlsx
data/publicsphere/youtube_general_subsample2_n850.xlsx
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify.parquet
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_2.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_2.parquet
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_s.json
report/2024-05--Simulation/publicsphere.cardiff_prompt_classify_s.parquet
report/2024-05--Simulation/publicsphere.prompt_classify.json
report/2024-05--Simulation/publicsphere.prompt_classify.parquet
report/2024-05--Simulation/pubsphere.MXBAIembeds.parquet
data/Coarse_discourse_Reddit/redditdata.parquet
report/2024-05--Simulation/pubsphere.claim_embed.parquet
report/2024-05--Simulation/pubsphere.claim.parquet
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/distance_metric.cpython-312.pyc
src/__pycache__/hf_classify.cpython-312.pyc
src/__pycache__/prompt_classify.cpython-312.pyc
src/__pycache__/sent_embedder.cpython-312.pyc
__pycache__/config.cpython-312.pyc
report/2024-05--Simulation/embedding_validation_context_general
report/2024-05--Simulation/reddit3000.parquet
data/MH_BClemm_data/germany_val_all.csv
data/MH_BClemm_data/germany_val_all_llama.parquet
inter_coder_reliability.csv
37b-Notebook_Monika_2.Topic_model.ipynb
data/publicsphere/test.csv
data/publicsphere/train.csv
sjoerdAzure.env
data/publicsphere/publicsphere.interactivity_gpt4o.json
data/publicsphere/classifications4.json
data/publicsphere/classifications4.parquet
.vs/
report/2024-05--Simulation/pubsphere_YT_posts.parquet
data/TWON_German_data/
data/Jaidka2022/
report/2024-05--Simulation/reddit3000_pol_posts_claims.parquet
report/2024-05--Simulation/pubsphere_pol_posts.parquet
report/2024-05--Simulation/reddit3000_pol_posts.parquet
report/2024-05--Simulation/pubsphere_YT_post_claim_exp_explode.parquet
report/2024-05--Simulation/pubsphere_YT_post_claim_explode.parquet
report/2024-05--Simulation/pubsphere_YT_debate_threads.parquet
report/2024-05--Simulation/pubsphere_YT_posts_closest_preceding_distance.parquet
report/2024-05--Simulation/reddit_polthread_llama31_7b.parquet
data/Naab2025/
report/2024-05--Simulation/Naab2025.parquet
report/2024-05--Simulation/reddit_ptbod_depth1.parquet
data/TWON_export_Nils/
R/load_German_TWON_data.R
R/sample_MHeseltine.R
data/TWON_sample_MHeseltine/
.gitignore/
.history/
data/publicsphere/predictions_boukes_L31_8b_zero_seed2.parquet
data/publicsphere/predictions_boukes_L31_8b_zero.parquet
data/publicsphere/predictions_boukes_L33_70b_zero_seed2.parquet
data/publicsphere/predictions_boukes_L33_70b_zero.parquet
data/publicsphere/predictions_DS70b_boukes.parquet
data/publicsphere/predictions_intra
data/publicsphere/predictions_intra_L8b.parquet
data/publicsphere/predictions_jaidka_L8b.parquet
data/publicsphere/predictions_jaidka.parquet
data/publicsphere/predictions_L8b.parquet
data/publicsphere/predictions_Q72b_boukes_low_seed2.parquet
data/publicsphere/predictions_Q72b_boukes_low.parquet
data/publicsphere/predictions_Q72b_boukes_seed2.parquet
data/publicsphere/predictions_Q72b_boukes.parquet
data/publicsphere/predictions_Q72b_boukes2.parquet
data/publicsphere/predictions_Q72b_jaidka.parquet
data/publicsphere/predictions_Q72b_jaidka2.parquet
data/publicsphere/predictions4b.parquet
data/MH_BClemm_data/Ideo_Val_GPT_USA_L33_70b.parquet
data/MH_BClemm_data/Ideo_Val_GPT_USA.csv
data/publicsphere/predictions_boukes_GPT4o_zero_seed2.parquet
data/publicsphere/predictions_boukes_GPT4o_zero5.parquet
data/publicsphere/predictions_intra_L8b_zero_para2.parquet
data/publicsphere/predictions_intra_L8b_zero_para4.parquet
data/publicsphere/predictions_intra_L8b_zero_simpa1.parquet
data/publicsphere/predictions_intra_L8b_zero_simpa2.parquet
data/publicsphere/predictions_intra_L8b_zero_simpa3.parquet
data/publicsphere/predictions_L8b_zero_jaidka1.parquet
data/publicsphere/predictions_L8b_zero_jaidka2.parquet
data/publicsphere/predictions_L8b_zero_para1.parquet
data/publicsphere/publicsphere.cardiff_prompt_classify_anon.parquet
data/publicsphere/pubspherepromptsrun_L8bpara3.parquet
